<header>
  <nav class="header-nav">
    <h2>Album Library <i class="fa-solid fa-compact-disc"></i></h2>
    <ul>
      <li><a href="/singers">Singers</a></li>
      <li><a href="/singers/new">Add Singer</a></li>
      <li><a href="/albums">Albums</a></li>
      <li><a href="/albums/new">Add Album </a></li>
      <li><a href="/logout"><i class="fa-solid fa-right-from-bracket fa-xl"></i></i></a></li>
      
    </ul>
  </nav>
</header>