<header>
    <nav class="header-nav">
      <h2>Album Library <i class="fa-solid fa-compact-disc"></i></h2>
      <ul>
        <li><a href="/singersuser">Singers</a></li>
        <li><a href="/albumsuser">Albums</a></li>
        <li><a href="/logout"><i class="fa-solid fa-right-from-bracket fa-xl"></i></a></li>
        
      </ul>
    </nav>
  </header>